

/*General*/
body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-image: linear-gradient(to right bottom, #000000, #0a0506, #130b0c, #190f11, 
  #1e1314, #221314, #271314, #2b1313, #2f0f0f, #330b0b, #370606, #3b0000);
}

a {
  color:  rgb(137, 10, 10);
  text-decoration: none;
}


/*Header*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}


/* Navigation */
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}


.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items:center;
  color: #ffffff;
  padding: 10px 18px;
  margin-bottom: 10px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #424040;
  height: 56px;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 10px;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background:  rgb(137, 10, 10);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/*-Home Section-*/
#home {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #home {
    padding-left: 160px;
  }
}

#home:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #bbb2b2;
}

#home p {
  color: #bbb2b2;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family:'Poppins', sans-serif;
}

#home p span {
  color: rgb(137, 10, 10);
  letter-spacing: 1px;
  font-weight: lighter;
}


#home .social-links a {
  font-size: 25px;
  display: inline-block;
  margin-right: 10px;
  transition: .1s;
}

#home .social-links a:hover {
  color:  rgb(255, 255, 255);
}


/*All Sections*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffd6d6;
}

/*About*/
.about{
  margin-top: 50px;
  font-size: 20px;
 color:  #bbb2b2;
}
.about .content li {
  margin-bottom: 10px;
}
.about .p {
  padding-left: 100px;
}


/*Education*/
.education .educ-title {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  color:  #bbb2b2;
}

.education .educ-item {
  padding: 0 20px;
  margin-top: -2px;
  border-left: 2px solid #bbb2b2;
  margin-left: 50px;
  position: relative;
}

.education .educ-item h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #bbb2b2;
}

.education .educ-item p{
  color: #bbb2b2;
}

.education .educ-item h5 {
  font-size: 16px;
  font-weight: 600;
  color: #bbb2b293;
}

.education .educ-item li {
  color: #bbb2b2;
}

/*--Certificates-*/
.cert {
    margin-top: 50px;
    font-size: 20px;
    color: #bbb2b2;
}


/*--Contact-*/
.contact .info {
  width: 100%;
}


.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #bbb2b2;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #bbb2b2;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: rgb(137, 10, 10);
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: rgb(137, 10, 10);
  border: 0;
  padding: 10px 35px;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #000000;
}



/*Footer*/
#footer {
  background: #151616;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h5 {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

#footer .social-links {
  margin-bottom: 20px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgb(137, 10, 10);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgb(230, 230, 230);
  color: #fff;
  text-decoration: none;
}
